@import "../dashboard.css";
.chart {
  width: 100%;
  margin: 50px 20px 75px 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 10px;
}

.chartTitle {
  margin-bottom: 20px;
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
}

.chartInfoContainer {
  display: flex;
  justify-content: space-evenly;
}

.chartNumbers {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
}

.chartSales {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.chartSalesIcon {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: inherit;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: var(--bg-color);
  color: var(--textcolor-elementary);
}

.chartSalesHeading,
.salesText {
  color: var(--textcolor-secondary);
  font-size: var(--text-font-size);
  font-weight: var(--heading-font-weight);
}
.chartSalesNumbers {
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
}

.salesNumber {
  font-weight: var(--heading-font-weight);
}

.solid {
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(187, 187, 187, 0.567);
  border-radius: 5px;
}

.firstDetailedElement {
  margin-bottom: 10px;
}

.chartDetailedSales {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.salesNumber {
  margin-top: 5px;
}

.salesText::before {
  content: "\25CF";
  margin-right: 5px;
}

#apparel::before {
  color: var(--maincolor-first);
}
#fmcg::before {
  color: var(--maincolor-second);
}
#electronic::before {
  color: var(--maincolor-third);
}
#otherSales::before {
  color: var(--maincolor-fourth);
}
